{{! BEGIN-SNIPPET custom-expander-icon-expander.hbs }}
<button type="button" class="custom-expander-icon" ...attributes {{on "click" @node.actions.toggle}}>
  {{#if @node.isExpanded}}
    <FaIcon @icon="chevron-down" @size="xs" @fixedWidth={{true}} />
  {{else}}
    <FaIcon @icon="chevron-right" @size="xs" @fixedWidth={{true}} />
  {{/if}}
</button>
{{! END-SNIPPET }}