@import 'ember-basic-tree';

.animation-example {
  &--liquid-container {
    overflow: initial;
  }
}

.context-menu-example {
  &--dropdown-content {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
  }
}

.bootstrap-theme-example {
  @import 'ember-bootstrap/bootstrap';
  @import 'ember-basic-tree/themes/bootstrap';
}

.drag-drop-example {
  .draggable-object, .draggable-object-target {
    border: 1px solid transparent;

    &.accepts-drag {
      border: 1px dotted black;
    }
  }
}
