.docs-md li.ember-basic-tree-node,
.docs-md ul.ember-basic-tree-children {
  margin-bottom: 0;
}

.not-found {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.context-menu-example {
  &--dropdown-content {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
  }
}

.navigation-example {
  @import 'ember-bootstrap/bootstrap';

  .navigation-example-link {
    margin: 1px 2px;
    padding: 1px 3px;
    text-decoration: none;
    border-radius: $nav-pills-border-radius;

    &.active {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
    }
  }
}

.custom-expander-icon:focus {
  outline: none;
}
