@import 'ember-basic-tree';

.animated-children-liquid-container {
  overflow: initial;
}

.ember-basic-dropdown-content {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid black;
}

.bootstrap-theme-example {
  @import 'ember-bootstrap/bootstrap';
  @import 'ember-basic-tree/themes/bootstrap';
}
